@import "bootstrap";

body {
  padding-top: 20px;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.jumbotron {
    padding-bottom: 100px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}
.table > tbody > tr > th {
     vertical-align: middle;
}