<div class="jumbotron text-center">
  <div class="container">
	<h2>Welcome to Beerhopper</h2>
    <p>Beerhopper allows you to search for, and get information about, beers, their styles and their brewers.</p>
	{{search-box hint="Find a beer" action="goToBeerList" groupsize="lg" position="col-md-6 col-md-offset-3"}}
  </div>
</div>